footer {
    background-color: #dd3535;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
        padding: 1.5em;
    }

    a {
        text-decoration: none;
        background: white;
        color: #dd3535;
        padding: 1.5em;

        img {
            width: 42px;
            height: auto;
        }
    }

    .social {
        a {
            padding: 0;
        }
    }

    #facebook {
        padding: 0;
        text-decoration: none;
    }
}