footer {
  background-color: #dd3535;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer button {
  padding: 1.5em;
}
footer a {
  text-decoration: none;
  background: white;
  color: #dd3535;
  padding: 1.5em;
}
footer a img {
  width: 42px;
  height: auto;
}
footer .social a {
  padding: 0;
}
footer #facebook {
  padding: 0;
  text-decoration: none;
}
